<header class="header">
    <div class="header-left">
    </div>
    <div class="header-middle">
        Blog de Diane et Théo
    </div>
    <div class="header-right">
        <a href="/">Accueil</a>
    </div>
</header>